body{
  margin-top: 90px;
  background: url('../img/img1.jpeg');
  background-size: cover;
  background-position: center;
  height: 100vh;
}
.navbar{
  background: #f4f4f4;
  font-weight: bold;
  font-size: 14px;
}

#showcase{
  color:#fff;
  font-size: 20px;
}
.panel-title{
  font-size: 18px;
}
.panel-title span{
  color:#8b7d6b;
}
.checkbox{
  color:#000;
  font-size: 13px;
}
footer{
  margin-top: 150px;
  font-size: 12px;
  text-align: center;
  color:#fff;
  margin-bottom: 40px;
}

#twitter1{
  text-decoration: none;
  background-color: #fff;
  color:#34a1ba;
  font-weight: bold;
  padding:7px 13px;
  border-radius: 15px;
  border: #3BB7D2 solid 1px;

}
#twitter1:hover{
  background-color: #ebf7fa;
}
#twitter2{
  text-decoration: none;
  background-color:#34a1ba;
  color:#fff;
  font-weight: bold;
  padding:7px 13px;
  border-radius: 15px;
}
#twitter2:hover{
  background-color: #236D7E;
}
.col-md-8{
  padding-left: 0;
}
