*{
  margin:0px;
  padding:0px;
}
body{
  font-size: 15px;
  font-family: arial, sans-serif;
  background-color: #FFE1FF;
  margin:0px;
  padding:0px;
  line-height: 1.5;
}
#container{
  width: 960px;
  min-height:600px;
  margin:0 auto;
  border: 1px solid black;
  overflow: auto;
  margin-top:20px;
  margin-bottom: 20px;
}
img{
  float:right;
  margin-right: 50px;
  margin-top:15px;
  height:170px;
  width: 170px;
  border-radius:50%;
  -moz-border-radius:50%;
  -webkit-border-radius:50%;
  transform:rotate(2rad);
  -moz-transform:rotate(2rad);
  -webkit-transform:rotate(1.6rad);
  -ms-transform:rotate(2rad);
  -o-transform:rotate(2rad);
}
#header {
  background-color: #08457E;
  overflow: hidden;
  line-height: 1.7;
  padding:20px;
}
#header h1{
  color:#f4f4f4;
  text-align: center;
}
#header p{
  color:#f4f4f4;
  text-align: center;
  font-weight: bold;
    font-size: 19px;
}
#header li{
  color:#fff;
  list-style: none;
  padding-left: 10px;
}

/*section*/
#sidebar{
  float:right;
  width: 380px;
  padding: 30px;
  background-color: #f4f4f4;
  height: 600px;
}
#sidebar h1,p,li{
  margin:10px;
}
#main-col{
  float:left;
  width: 460px;
  padding: 30px;
  background-color: #f4f4f4;
  height: 600px;
}
#main-col p,h1,h3{
  margin:20px;
}
.Problem{
  width: 300px;
  display: block;
  padding-bottom: 20px;
  margin: 10px;
}
.blue{
  background-color: blue;
  width: 200px;
  float:left;
}
.white{
  background-color: white;
  width: 100px;
  float:right;
}
.blue1{
  background-color: blue;
  width: 150px;
  float:left;
}
.white1{
  background-color: white;
  width: 150px;
  float:right;
}
.blue2{
  background-color: blue;
  width: 150px;
  float:left;
}
.white2{
  background-color: white;
  width: 150px;
  float:right;
}
#sibar2 li{
  list-style: none;
}
